/* CSS Variables */
:root {
  /* General */
  --text-color: #333;
  --text-secondary-color: #555;
  --background-color: #f0f2f5; /* A fair, light gray background */
  --white-color: #ffffff; /* Pure white for cards and other elements */
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --border-radius: 10px;
  --border-color: #e0e0e0;

  /* Theme-specific */
  --primary-color: #27786f;
  --secondary-color: #be7f18;
  --accent-color: #9c1f11;

  /* Component-specific */
  --navbar-bg: #ffffff; /* White navbar to stand out */
  --logo-title-bg: #e9ecef;
  --logo-title-bg-hover: #dfe3e7;
  --nav-link-color: #e9e2e2;
  --nav-link-bg: var(--accent-color);
  --search-bg: #e9ecef;
  --search-bg-active: #dfe3e7;
  --card-bg: #ffffff; /* White cards to stand out */
  --card-text-color: #222;
  --button-bg: var(--accent-color);
  --button-text-color: #ffffff;
}

[data-theme='dark'] {
  /* General */
  --text-color: #f0f0f0;
  --text-secondary-color: #ccc;
  --background-color:hsl(220, 30%, 7%);
  --white-color: #1e1e1e;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  --border-color: #333;

  /* Theme-specific */
  --primary-color: #bc4437; /* Red */
  --secondary-color: #f39c12; /* Orange */
  --accent-color: #bc4437; /* Red */

  /* Component-specific */
  --navbar-bg: #1e1e1e;
  --logo-title-bg: #2c2c2c;
  --logo-title-bg-hover: #383838;
  --nav-link-color: #f0f0f0;
  --nav-link-bg: var(--accent-color);
  --search-bg: #2c2c2c;
  --search-bg-active: #383838;
  --card-bg: #1e1e1e;
  --card-text-color: #f0f0f0;
  --button-bg: var(--accent-color);
  --button-text-color: #ffffff;
}

/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

